.menu {
  &__title {
    font-weight: lighter;
  }

  &__line {
    width: 4rem;
    border-top: 3px solid $tertiary-color;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  &__card {
    @include card($height: 6.5rem);
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    animation: menu-loading 1000ms;
    cursor: pointer;

    &__top {
      margin-bottom: 0.5rem;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;

      &__price {
        font-weight: bold;
      }
    }

    @keyframes menu-loading {
      from {
        opacity: 0;
        transform: translateY(5rem);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
