.menu {
  &__title {
    font-weight: lighter;
  }

  &__line {
    width: 4rem;
    border-top: 3px solid $tertiary-color;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  &__card {
    position: relative;
    @include card($height: 6.5rem);
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    animation: menu-loading 1000ms both;

    &__top {
      margin-bottom: 0.5rem;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: width 300ms;
    }

    &__bottom {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: width 300ms;
    }

    &__price {
      font-weight: bold;
      position: absolute;
      top: 3.5rem;
      right: 4rem;
      width: 5%;
      text-align: center;
      transform: translateX(0%);
      transition: transform 300ms;
    }

    &:hover > &__side {
      transition: transform 300ms;
      transform: translateX(-100%);

      & > .fas.fa-check-circle {
        transform: rotate(0deg);
      }
    }

    &:hover > &__price {
      transform: translateX(-300%);
      transition: transform 300ms;
    }

    &:hover > &__top,
    &:hover &__bottom {
      width: 65%;
    }

    &__side {
      position: absolute;
      top: 0;
      right: -20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      width: 20%;
      color: white;
      background-color: $tertiary-color;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      transform: translateX(0);
      transition: transform 500ms;

      & > .fas.fa-check-circle {
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
      }
    }

    @keyframes menu-loading {
      from {
        opacity: 0;
        transform: translateY(2rem);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @for $i from 3 through 6 {
    & article > :nth-child(#{$i}) {
      animation-delay: $i * 100ms;
    }
  }

  @include desktop-only {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2%;
  }
}
