.fav {
  & input {
    display: none;
  }

  & i {
    position: absolute;
    font-size: 2.5rem;
    color: grey;
    cursor: pointer;
    display: block;
  }

  & .full {
    opacity: 0;
  }

  & input:checked ~ .full {
    opacity: 1;
    background: -moz-linear-gradient(
      top,
      $primary-color,
      $secondary-color 100%
    );
    background: -webkit-linear-gradient(
      top,
      $primary-color 0%,
      $secondary-color 100%
    );
    background: linear-gradient(
      to bottom,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 1000ms;
  }
}
