// Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary_color: #99e2d0;

$dark_grey: #d1d1d1;
$middle-grey: #eaeaea;
$light_grey: #f6f6f6;

// Breakpoints
$breakpoints: (
  desktop: 1023px,
);
